.contact-bgImg-container {
  @include bgImg(100vh, $pathName1);
  .nav {
    /* border: 5px solid red; */
    height: 40vh;
  }
  .contact {
    /* border: 5px solid red; */
    height: 35vh;
  }
  .middle {
    /* border: 5px solid red; */
    height: 25vh;
  }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  h2{
    padding-bottom: 20px;
    font-size: 3rem;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    gap: 2rem;

  }
  &__item{
        .text-secondary{
            color: $secondary-color;
            font-weight: 600;
        }
  }
  
}





