//*****************************************************
//*   HOME PAGE
//*****************************************************

.home-bgImg-container{
    background-image: url(../../img/model-1.jpg);
    height: 30vh;
    background-size: cover;
    background-position: center;
}