.link-style {
  a {
    padding: 0.4rem;
    @include soft(1s);
    &:hover {
      color: $secondary-color;
    }
  }
}

footer.horizontal{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  @extend .link-style;
}


footer.vertical{
/*   border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;

  .social-icons{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 1rem;
    @extend .link-style;
  }
  .copyright{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    writing-mode: vertical-lr;
  }
}


footer.middle{
/*   border: 5px solid red; */
  padding-top: 50px;
  text-align: center;

  .social-icons{
  /*   border: 5px solid red; */
    display: flex;
    justify-content: center;
    @extend .link-style;
    i{
      padding: 0 10px 10px;
    }
  }
}